
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >

  <div class="card mb-4 box-shadow">
    <div class="container-flex" style="background-color: blue">
      <div class="container">
        <div class="row">
        
        </div>
        
        <h3 class="display-4 font-weight-normal">
          <%= @comic.title %> 
        </h3>

      </div>
      <%= render "shared/navigation" %>

      <%= image_tag @comic.main_image, width: "95%", height: "1200px", alt: @comic.title %>

      <p class="lead font-weight-normal">
          <%= @comic.description %>
      </p>

      <%= render "shared/navigation" %>

    </div>
  </div>
</div>