
<div class="d-flex justify-content-between align-items-center btn-group">

    <% if @is_first == 'true' %>

    <%= image_tag "atstart.png", size: "32x32", alt: "At Start"%> 

     <%= image_tag "back_not.png", size: "32x32", alt: "At Start" %> 

    <% else %>

      <%= link_to image_tag("tostart.png", size: "32x32", alt: "Back to Start"), comic_path(1) %>

      <%= link_to image_tag("back.png", size: "32x32", alt: "Back"), comic_path(@comic.id - 1) %>

    <% end -%>

    <%= link_to image_tag("random.png", size: "32x32", alt: "Random"), comic_path(rand(10)+1) %>

    <% if @is_last == 'true' %>
      
      <%= image_tag "forward_not.png", size: "32x32", alt: "At Start" %> 

      <%= image_tag "atend.png", size: "32x32", alt: "At Start" %> 

    <% else %>
    
      <%= link_to image_tag("forward.png", size: "32x32", alt: "Forward"), comic_path(@comic.id + 1) %>

      <%= link_to image_tag("toend.png", size: "32x32", alt: "Latest Comic"), root_path %>

    <% end -%>
  
</div>



