
<div class="d-flex justify-content-between align-items-center btn-group">

    <% if @is_first == 'true' %>
      <%= fa_stacked_icon "step-backward", alt: "Back to Start", class: "nav_button_comic_disabled" %>
      <%= fa_stacked_icon "angle-left", alt: "Back to Start", class: "nav_button_comic_disabled" %>

    <% else %>
      <%= link_to (fa_stacked_icon "step-backward", alt: "Back to Start", class: "nav_button_comic"), comic_path(1) %>
      <%= link_to (fa_stacked_icon "angle-left", alt: "Back", class: "nav_button_comic"), comic_path(@comic.id - 1) %>
    <% end -%>
    <%= link_to (fa_stacked_icon "random", class: "nav_button_comic"), comic_path(rand(10)+1) %>

    <% if @is_last == 'true' %>
      <%= fa_stacked_icon "angle-right", alt: "Forward", class: "nav_button_comic_disabled" %>
      <%= fa_stacked_icon "step-forward", alt: "Latest", class: "nav_button_comic_disabled" %>
    <% else %>
      <%= link_to (fa_stacked_icon "angle-right", alt: "Forward", class: "nav_button_comic"), comic_path(@comic.id + 1) %>
      <%= link_to (fa_stacked_icon "step-forward", alt: "Latest", class: "nav_button_comic"), root_path %>
    <% end -%>

</div>
