
<header class="masthead mb-auto">
  <div class="inner">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">A Porter's Tale</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <%= nav_helper 'nav-link', 'li class="app-nav"' %>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Donate</button>
          <% if current_user %>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
            <% else %>
               <%= link_to "Login ", new_user_session_path %>
               <%= link_to "Register", new_user_registration_path %>
            <% end %>

            <%= link_to image_tag("rss.png", size: "24x24", alt: "RSS Feed"), comics_url(format: "atom") %>

             <% title_for_url = @comic.title.gsub(" ", '%20') %>


            <% twitter_link = "https://twitter.com/intent/tweet?text=#{@comic.title}&url=http%3A%2F%2Fwww.aporterstale.com%2Fcomic%2F#{@comic.id}&original_referer=https%3A%2F%2Ftwitter.com%2Fshare%3Furl%3Dhttp%3A%2F%2Fwww.aporterstale.com%2F#{@comic.id}%26text%3D#{title_for_url}%2523aporterstale"%>

            <% facebook_link = 
            "https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.aporterstale.com%2Fcomic%2F#{@comic.id}&t=#{title_for_url}"
            %>

            <%= link_to image_tag("twitter.png", size: "24x24", alt: "Twitter"), twitter_link %>


            <%= link_to image_tag("facebook.png", size: "24x24", alt: "Facebook"), facebook_link %>


        </form>
      </div>
    </nav>
  </div>
</header>
