
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-left">

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-10 nav_background">
          <%= image_tag "break_background" %>

    </div>
      <div class="col-md-8 p-md-3 text-right nav_forground" >
        <h4> Latest * Cast * Archive * Author </h4>
      </div>
   </div>
 </div> -->
 <div class="container">
   <div class="row">
     <div class="col-md-9 p-md-3">
       <%= image_tag "break_background", size: "1070x400" %>

   </div>

  </div>
 </div>

    <div class="comic-panel-container position-relative overflow-hidden  m-md-3 text-center">

      <%= render "shared/navigation" %>
      <h4 class="position-relative font-weight-normal m-md-3 text-left">
        <%= @comic.title %>
      </h4>
      <%= image_tag @comic.main_image, width: "95%", height: "1200px", alt: @comic.title, title: @comic.description %>

      <%= render "shared/navigation" %>

    </div>

          <div class="col-md-12 plug_break">
              <%= image_tag "https://via.placeholder.com/300x250",alt: "placeholder for ad", title: "placeholder for ad", class: "m-md-2" %>

          </div>
    <hr>
    <div class="container">
      <div class="row">

      <div class="col-md-8">
        <div class="blog-post">
            <h2 class="blog-post-title large-font"><%= @blog.title %></h2>
            <p class="blog-post-meta small-font"><%= distance_of_time_in_words_to_now(@blog.created_at) %> ago. <a href="#"> by Peggy</a></p>
            <div class="small-font">
            <p><%= @blog.body %></p>

          </div>
          </div><!-- /.blog-post -->
        </div>

      <div clas="col-md-4">
        <%= image_tag "https://via.placeholder.com/300x250",alt: "placeholder for ad", title: "placeholder for ad", class: "m-md-2" %>
        <br>
        <%= image_tag "https://via.placeholder.com/300x250",alt: "placeholder for ad", title: "placeholder for ad",class: "m-md-2" %>
      </div>
      </div>
  </div>

</div>
